<a href="https://colab.research.google.com/github/ankithakt02/Task0-Titanic-Exploration/blob/main/K%20T%20ANKITHA_20BEC1035_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('/content/train.csv')

In [31]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
dcopy = df.copy(deep=True)

In [34]:
dcopy.dropna(axis=0,inplace=True)

In [36]:
dcopy.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [37]:
df.shape

(891, 12)

In [38]:
dcopy.shape

(183, 12)

In [41]:
dcopy.drop(columns=['Name','PassengerId'],inplace=True)

In [42]:
dcopy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  183 non-null    int64
 1   Pclass    183 non-null    int64
 2   Sex       183 non-null    object
 3   Age       183 non-null    float64
 4   SibSp     183 non-null    int64
 5   Parch     183 non-null    int64
 6   Ticket    183 non-null    object
 7   Fare      183 non-null    float64
 8   Cabin     183 non-null    object
 9   Embarked  183 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 15.7+ KB